body {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px;
}
button {
  font-size: 24px;
  margin-top: 20px;
  padding: 30px;
}

.info {
  color: sandybrown;
}
.info-if-connected {
  color: mediumseagreen;
}
.info-if-not-connected {
  color: lightcoral;
}
